{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Edit Profile</h1>
    {% if "placeholder" in profile.profile_img.url %}
    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
    {% else %}
    <img src="{{ profile.profile_img.url }}">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Edit Profile</button>
    </form>
    {% else %}
    <h3><a href="{% url 'account_login' %}">Sign in</a> to edit a post</h3>
    {% endif %}
</div>

{% endblock %}