{% extends "base.html" %}

{% block content %}
<div class="container col-10">
    <hr class="text-light">
    <h1 class="text-white text-center text-lg-start display-4">Hot Posts</h1>
    <div class="row row-cols-1 row-cols-lg-2">
        <!-- Loop through posts in post_list and return first 8 to display cards for -->
        {% for post in post_list %}
        {% if forloop.counter <= 8 %}

        {% include '../components/post-card.html' %}

        {% endif %}
        {% endfor %}
    </div>
    <div class="container col-8 d-flex justify-content-center mt-2">
        <a href="{% url 'posts'%}" role="button" class="btn btn-outline-secondary btn-lg">More Posts</button></a>
    </div>
</div>
</div>
{% endblock %}