{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container col-10 col-lg-8 mt-5">
    <div class="text-center">
        <p class="text-muted m-auto"> {{ post.category }}</p>
        <h1 class="display-1 m-auto">{{ post.title }}</h1>
        <h3 class="text-muted m-auto"> {{ post.author }}</h3>
        <p class="text-muted m-auto"> {{ post.date|date:'d-m-Y, H:i' }}</p>
    </div>
    <div class="hero-image mt-1">
        <img src="{{ post.hero_image.url }}" class="img-fluid">
    </div>
    <p>
        {{ post.content | safe}}
    </p>
    {% include '../components/counters.html' %}
</div>
{% endblock %}