{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <h1 class="text-white text-center text-lg-start display-4">Search Results</h1>
        {% if search %}
            <h3>You searched for: "{{ search }}"</h3>
            <h4 class="display-6">Results:</h4>
            {% for post in results %}
                {% include '../components/post-card.html' %}
            {% endfor %}
        {% endif %}
    </div>
    {% if is_paginated %}
        {% include '../components/pagination.html' %}
    {% endif %}
</div>
{% endblock %}