{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="col">
        <div class="row offset-3 col-6">
            <div class="col-4 d-inline">
                <h1>{{ profile.user }}</h1>
            </div>
            {% if user == profile.user %}
                <a class="btn btn-sm btn-outline-secondary my-4 offset-6 col-2" href="{% url 'edit_profile' profile.pk %}">Edit Profile</a>
            {% endif %}
        </div>
        <div class="offset-3 col-6">
            <img class="img-thumbnail" src="{{ profile.profile_img.url }}">
        </div>
    </div>
    <div class="row my-2 offset-3 col-6">
        <h4>Bio</h4>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% else %}
            <p>Looks like there's nothing here yet</p>
        {% endif %}
    </div>
    <div class="col">
        {% for post in posts %}
            {% include '../../components/post-card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}