{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="col-8 col-md-8 mx-auto my-4">
        {% if user.is_authenticated %}
        <h1>Create a Post</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit">Create Post</button>
        </form>
        {% else %}
        <h3><a class="btn btn-outline-primary" href="{% url 'account_login' %}">Sign in</a> to create a post</h3>
        {% endif %}
    </div>
</div>

{% endblock %}