{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container col-10 col-lg-8 mt-5">
    <div class="text-center">
        <a href="{% url 'category_page' post.category %}">
            <p class="text-muted m-auto"> {{ post.category }}</p>
        </a>
        <h1 class="display-1 m-auto">{{ post.title }}</h1>
        <h3 class="text-muted m-auto"><a href="{% url 'profile_page' post.author %}">{{ post.author }}</a></h3>
        <p class="text-muted m-auto"> {{ post.date|date:'d-m-Y, H:i' }}</p>
        {% if user == post.author %}
        <a href="{% url 'edit_post' post.slug %}">Edit post</a>
        <a href="{% url 'delete_post' post.slug %}">Delete post</a>
        {% endif %}
    </div>
    <div class="col d-flex justify-content-center hero-image mt-1 ">
        <img src="{{ post.image_url | default_if_none:'' }}" class="img-fluid">
    </div>
    <p>
        {{ post.content | safe}}
    </p>
    {% include '../../components/counters.html' %}
    <hr>

    <div>
        <h3 class="text-center text-md-start mb-3">Comments:</h3>
        <div class="col mb-4 mt-3 ">
            <div>
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <form class="col-10 mx-auto" method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn my-2 btn-success btn-lg">Submit</button>
                </form>
                {% else %}
                <h3><a class="btn btn-lg btn-outline-primary" href="{% url 'account_login' %}">Sign in</a> to leave a comment</h3>
                {% endif %}
            </div>
        </div>
        {% for comment in comments %}
        <div>
            <p>
                {{ comment.user }}
                <small class="text-muted">
                    {{ comment.date|date:'d-m-Y, H:i' }}
                </small>
            </p>
            {{ comment.content|linebreaks }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}