{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container col-10 col-lg-8 mt-5">
    <div class="text-center">
        <p class="text-muted m-auto"> {{ post.category }}</p>
        <h1 class="display-1 m-auto">{{ post.title }}</h1>
        <h3 class="text-muted m-auto"> {{ post.author }}</h3>
        <p class="text-muted m-auto"> {{ post.date|date:'d-m-Y, H:i' }}</p>
        {% if user == post.author %}
        <a href="{% url 'edit_post' post.slug %}">Edit post</a>
        <a href="{% url 'delete_post' post.slug %}">Delete post</a>
        {% endif %}
    </div>
    <div class="hero-image mt-1">
        {% if "placeholder" in post.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
        {% else %}
        <img src="{{ post.hero_image.url }}" class="img-fluid">
        {% endif %}
    </div>
    <p>
        {{ post.content | safe}}
    </p>
    {% include '../../components/counters.html' %}
    <hr>

    <div>
        <h3 class="text-center text-md-start mb-3">Comments:</h3>
        <div class="col mb-4 mt-3 ">
            <div>
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <h3><a href="{% url 'account_login' %}">Sign in</a> to leave a comment</h3>
                {% endif %}
            </div>
        </div>
        {% for comment in comments %}
        <div>
            <p>
                {{ comment.user }}
                <small class="text-muted">
                    {{ comment.date|date:'d-m-Y, H:i' }}
                </small>
            </p>
            {{ comment.content|linebreaks }}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}