<!-- Card displaying post information and content snippet
Must be looped through more list of posts -->
<div class="card border">
    <div class="row custom-card-height overflow-hidden">
        <div class="card-body col-8">
            <a href="{% url 'category_page' post.category %}">
                <p class="text-muted"><strong>{{ post.category }}</strong></p>
            </a>
            <a href="{% url 'post_page' post.slug %}">
                <h2> {{ post.title }}</h2>
            </a>
            <p class="text-muted"><a href="{% url 'profile_page' post.author %}">{{ post.author }}</a>, {{ post.date|date:'d-m-Y, H:i' }}</p>
            <a href="{% url 'post_page' post.slug %}">
                <p class="">{{ post.content|safe|truncatewords_html:25 }}</p>
            </a>
        </div>
        <div class="col-4 d-none d-md-block">
            <a href="{% url 'post_page' post.slug %}">
                <img class="img-thumbnail" src="{{ post.image_url | default_if_none:'' }}">
            </a>
        </div>
    </div>
</div>